body {
    background-color: #303030;
    color: #fff;
}

.mdl-layout__header {
    background-color: #212121;
}

.mdl-textfield__input {
    border-color: #fff;
    color: #fff;
}

.mdl-textfield__label {
    color: #fff;
}

.mdl-textfield__label:after {
    background-color: #fff;
}

.mdl-spinner {
    margin-left: 10px;
}